*, *::before, *::after {box-sizing: border-box;}

body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(238, 238, 238);
    color: rgb(51,51,51);
    width: 1050px;
}

aside {float:right;
    width: 300px;
}

article {width: 700px;
margin: 30px;
margin-right: 0px;}

article img {width:700px;}